* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}
.avatar {
  height: 100px;
  width: 100px;
}
.page {
  display: flex;
  align-items: center;
}
.page > input{
  height: 30px;
}
