.black-button {
  background-color: rgb(61, 61, 61);
  color: white;
  padding: 15px 25px;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
}