* {
  font-size: 20px;
  color: #FFD369;
}

h2 {
  font-size: 30px;
}

.userlist {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  width: calc(280px*3);
  justify-content: center;
  list-style-type:none;
  width: 100%;
  align-items: stretch;
  padding: 0px;
}

.usercard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #222831;
  border-radius: 10px;
  width: 250px;
  
}
.toDetail {
  background-color: #FFD369;
  padding: 5px 10px;
  border-radius: 10px;
  color:#222831;
  text-decoration: none;
}

.blank {
  flex-grow: 1;
}
.child {
  transition-delay: 1s;
  transition: transform 330ms ease-in-out;
}

.child:hover {
  transform: scale(110%);
}
.img-container {
  height: 250px;
  width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.avatar {
  height: 250px;
  width: 200px;
  object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
}
.heart {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 30px;
  color: #F55353;
}
.email {
  font-size: 15px;
}

.pagination {
  display: flex;
  width: full;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.pagi-button {
  padding: 10px 20px;
  border: 2px #FFD369 solid;
  color: #FFD369;
  background-color: #222831;
}

.pagi-button:hover {
  background-color: #222831;
  color: #FFD369;
  cursor: pointer;
}

.current {
  padding: 10px 20px;
  border: 2px #FFD369 solid;
  color: #222831;
  background-color: #FFD369;
}
